@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Heebo', sans-serif;
    /* background: #335145; */
    /* background:#F7FFF7; */
    position: relative;
}
#arrow-down {
    position: fixed;
    right: 20px;
    bottom: 20px;
    opacity: .1;
    width:60px;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
#arrow-up {
    position: fixed;
    right: 20px;
    bottom: 90px;
    opacity: .1;
    width:60px;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

.bounce {
    animation-name: bounce;
    animation-timing-function: linear;
}
@keyframes bounce {
    0% { transform: translateY(0);}
    50% { transform: translateY(-10px);}
    100% { transform: translateY(0);}
}

.bounce-up {
    animation-name: bounce-up;
    animation-timing-function: linear;
}
@keyframes bounce-up {
    0% { transform: translateY(0);}
    50% { transform: translateY(10px);}
    100% { transform: translateY(0);}
}

#main-content {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 1fr 2fr;
    grid-gap: 50px;
    align-items: center;
    margin-bottom: 40px;
}

section {
    text-align: center;
    /* background: #ffffff; */
    
}

#top-section {
    justify-self: start;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    margin: -7px 0 100px 0;
    
}

#top-section h1 {
    font-weight:900;
    font-size: 8em;
    letter-spacing: -4px;
    line-height: 60px;
    
}

h2 {
    font-weight: 700;
    font-size: 3em;
    letter-spacing: -2px;
}

 #slider {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    position:relative;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
     

}
#prev {
   position: absolute;
   left: 0;
   height:100%; 
   width: 25%;
   z-index: 100;
   background: linear-gradient(90deg, rgba(0,0,0,0.15) 0%, rgba(255,255,255,0) 100%);
}

#next {
    position: absolute;
    right: 0;
    height:100%; 
    width: 25%;
    z-index: 100;
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.15) 100%);
 }


#show-me {
    display:inline-block;
}

.pro1, .pro2, .pro3 {
    display: none; 
    position:relative;
}

.pro1 img, .pro2 img, .pro3 img {
    width:100%;
}

h3 {
    position: absolute;
    font-size: 1.5em;
    line-height: 90%;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    text-shadow: 0px 0px 6px #000000;
    color:#FFE66D;
}
article a {
    text-decoration: none;
    font-weight: 400;
    background:#FFE66D;
    color: #ffffff;
    font-size: 1em;
    padding: 4px 10px;
    border-radius: 3px;;
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);

}

/* .pro1 {
    background-image: url('../img/MPimg.jpg');
    background-size: 100% 100%;
    width:100%;
    height: 100%;
    position:relative;

} */

/* .project-images {
    width: 100%;
} */


#contact {
    display: grid;
}

#map {
    /* display: none; */
    height:200px;
    width: 100%;
}

input, textarea {
    border: none;
    /* background: #eeeeee; */
    background:#FFE66D;
    padding: 10px;
    font-size: 1em;
}
#contact-form {
    display: grid;
    grid-template-rows: 1fr 1fr 3fr;
    grid-gap: 10px;
    padding: 10px 30px;
    
}

#message-area {
    /* Needed this to change font inside text area to match rest of page */
    font-family: 'Heebo', sans-serif;
}
#send-button {
    justify-self: center;
    width: 50%;
    background: #000000;
    color: #ffffff;
    font-weight: 700;
    font-size: 1em;
    border: none;
    padding: 10px 20px;
}

footer {
    display:flex;
    flex-flow:column wrap;
    background: #000000;
}

footer ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 80px;
}
footer ul li {
    margin: 0 10px;
    height:100%;
    
}
/* ul li:nth-child(1) {
    border-right: 4px solid #ffffff;
} */

.social {
    display:block;
    margin: 8px auto;
    width: 50%;
}

footer p {
    color: #ffffff;
    text-align: center;
    /* border-top: 1px solid #ffffff; */
    padding: 10px 0;
}
/* Tablet */
@media only screen and (min-width: 768px) {

}


/* Desktop */
@media only screen and (min-width: 1024px) {}