@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@200;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Heebo", sans-serif;
  position: relative;
}
a {
  color: #000000;
}
a:visited {
  color: #000000;
}
#arrow-down {
  position: fixed;
  right: 20px;
  bottom: 20px;
  opacity: 0;
  width: 60px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
#arrow-up {
  position: fixed;
  right: 20px;
  bottom: 90px;
  opacity: 0.1;
  width: 60px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
.bounce {
  animation-name: bounce;
  animation-timing-function: linear;
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.bounce-up {
  animation-name: bounce-up;
  animation-timing-function: linear;
}
@keyframes bounce-up {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
#main-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 0.75fr 2fr 3fr;
  grid-gap: 0px;
  align-items: center;
  margin-bottom: 40px;
}
section {
  text-align: center;
  height: 100%;
  padding: 20px 0;
}
section:first-of-type {
  text-align: center;
  background: none;
}
#top-section {
  justify-self: start;
  align-self: end;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  margin: 0px 0 100px 0;
  position:relative;
}
#top-section h1 {
  font-weight: 900;
  font-size: 7.2em;
  letter-spacing: -4px;
  position: absolute;
  left: -50px;
  top: 133px;
}
#tagline {
  display: none;
}
h2 {
  font-weight: 700;
  font-size: 3em;
  letter-spacing: -2px;
}
#about article {
  background: #ffe66d;
  padding: 20px;
}
#about-me {
  display: none;
}
.tech-skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px 0;
}
.languages {
  display: none;
  width: 10%;
}
#slider {
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: none;
}
#prev {
  position: absolute;
  left: 0px;
  width: 60px;
  z-index: 100;
  top: 35%;
  transform: translate(0%, -50%);
  opacity: 0.6;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
#prev img {
  width: 100%;
}
.left-bounce {
  animation-name: left-bounce;
  animation-timing-function: linear;
}
@keyframes left-bounce {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}
#next {
  position: absolute;
  right: 0px;
  width: 60px;
  z-index: 100;
  top: 35%;
  transform: translate(0%, -50%);
  opacity: 0.6;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
#next img {
  width: 100%;
}
.right-bounce {
  animation-name: right-bounce;
  animation-timing-function: linear;
}
@keyframes right-bounce {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0px);
  }
}
#show-me {
  display: grid;
}
.pro1,
.pro2,
.pro3 {
  display: none;
  position: relative;
}
.pro1 img,
.pro2 img,
.pro3 img {
  width: 100%;
}
.project-menu {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr;
  background: #ffe66d;
  padding: 0 10px;
}
h3 {
  font-size: 1.7em;
  justify-self: end;
}
.more-button {
  text-decoration: none;
  font-weight: 700;
  font-size: 1em;
  align-self: start;
  justify-self: end;
  margin-bottom: 5px;
}
article p {
  font-size: 0.9em;
  align-self: end;
  justify-self: end;
}
#contact {
  display: grid;
  grid-template-rows: 0.3fr 0.7fr 1fr 0.2fr 0.1fr;
}
#contact h2 {
  align-self: end;
}
#map {
  height: 250px;
  width: 100%;
}
input,
textarea {
  border: none;
  background: #ffe66d;
  padding: 10px;
  font-size: 1em;
}
input:focus, textarea:focus {
  outline: none;
  background: #fede40;
}

#contact-form {
  display: grid;
  grid-template-rows: 1fr 1fr 3fr;
  grid-gap: 10px;
  padding: 10px 30px;
}
#message-area {
  font-family: "Heebo", sans-serif;
}
#send-button {
  justify-self: center;
  width: 50%;
  background: #000000;
  color: #ffffff;
  font-weight: 700;
  font-size: 1em;
  border: none;
  padding: 10px 20px;
  height: 50%;
}
#send-button:active {
  background: #ffe66d;
}
#foot {
  display: flex;
  flex-flow: column wrap;
  background: #000000;
}
#foot ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 80px;
}
#foot ul li {
  margin: 0 10px;
  height: 100%;
}
.social {
  display: block;
  margin: 8px auto;
  width: 50%;
}
#foot p {
  color: #ffffff;
  text-align: center;
  padding: 10px 0;
}

/* Tablet */
@media only screen and (min-width: 768px) {
  #main-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr 2fr 2fr;
    grid-gap: 0px;
    align-items: center;
    margin-bottom: 40px;
    padding: 0 90px;
  }
  #arrow-up {
    right: 10px;
  }
  #arrow-down {
    right: 10px;
  }
  section {
    text-align: center;
    height: auto;
    padding: 20px 0;
    position: relative;
  }
  #top-section {
    justify-self: center;
    align-self: center;
    writing-mode: horizontal-tb;
    text-orientation: mixed;
  }
  #top-section h1 {
    position: relative;
    top: 0;
    left: 0;
  }
  .reveal-h1 {
    overflow: hidden;
    white-space: nowrap;
    animation: reveal .7s steps(11, end) forwards;
    width:0;
  }
  @keyframes reveal {
    from { width:0 }
    to { width:100% }
  }
  #tagline {
    display: inline;
    position: relative;
    float: right;
    bottom: 58px;
    right: -42px;
    opacity: 0;
    font-weight: 900;
    font-size: 2em;
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    color: #ffe66d;
    z-index: -100;
  }
  #map {
    width: 90%;
    margin: 0 auto;
  }
  #about-me {
    font-size: 1.7em;
    padding: 35px;
    display: none;
  }
  .tech-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px 0;
  }
  .languages {
    display: none;
    width: 75px;
  }
  #slider {
    display: none;
  }
  .project-menu {
    font-size: 1.3em;
    /* padding: 10px 20px; */
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0;
    opacity: .9;
  }
  .more-button {
    justify-self: center;
  }
  .project-menu p {
    justify-self: center;
  }
  h3 {
    justify-self: center;
    margin-top: 10px;
  }

  #contact {
    display: grid;
    grid-template-rows: 0.5fr 0.7fr 1fr 0.4fr 0.2fr;
  }
  #contact-form {
    padding: 10px 0;
  }
  #send-button {
    justify-self: end;
  }
  #map {
    width: 100%;
  }
  #next {
    top: 45%;
  }
  #prev {
    top: 45%;
  }
}

/* Desktop */
@media only screen and (min-width: 1024px) {
  #main-content {
    padding: 0 150px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.8fr 0.5fr 0.8fr 1fr;
    grid-gap: 0px;
    align-items: center;
  }
  #top-section {
    top: 20%;
  }
  a:visited {
    color: #ffffff;
  }
  #prev {
    display: none;
  }
  #next {
    display: none;
  }
  #about-me {
    font-size: 1.2em;
    padding: 25px;
    display: none;
  }
  #about {
    opacity: 1;
  }
  #slider {
    display: none;
  }
  #contact-name {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  #contact-email {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  #message-area {
    grid-column: 1 / 3;
    grid-row: 2 / 4;
  }
  .inside {
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
  #show-me {
    display: grid;
  }
  .pro1,
  .pro2,
  .pro3 {
    display: grid;
    grid-template-rows: 1fr 0.5fr;
    background: #ffe66d;
    padding: 10px;
    margin: 10px;
  }
  h2 {
    font-size: 4em;
  }
  h3 {
    font-size: 0.8em;
    justify-self: center;
    align-self: center;
  }
  .project-menu {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1.3fr;
    position: relative;
  }
  .project-menu p {
    font-size: 0.5em;
    justify-self: center;
    align-self: center;
  }
  .project-images {
    grid-row: 1 / 3;
  }
  .more-button {
    font-size: 0.7em;
    justify-self: center;
    background: #000000;
    color: #ffffff;
    padding: 8px 10px;
  }
  #feedback {
    justify-self: end;
  }
  #arrow-up {
    right: 40px;
  }
  #arrow-down {
    right: 40px;
  }
}
